* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: rgb(53, 53, 53);
    font: normal 12pt arial;
    color: white;
}

header {
    text-align: center;
}

h1 {
    margin: 16px auto;
}

section {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.292);
    padding: 20px;
    width: 500px;
    margin: auto;
}

div {
    margin-bottom: 16px;
}

div label {
    font-weight: bold;
    display: block;
}

div label.error {
    font-weight: normal;
    color: red;
}

div input,
div textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

div textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
    margin: auto;
}

button {
    display: block;
    width: 100%;
    max-width: 120px;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 16px
}