body {
    background-color: rgb(53, 53, 53);
    font: normal 12pt arial;
    color: white;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.292);
    padding: 20px;
    width: 500px;
    margin: auto;
}

footer {
    text-align: center;
    font-style: italic;
}